<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <!-- CDN Boostrap -->
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <section class="container mt-5 mb-5">
      <section class="text-title text-black fs-3 fw-bold">Gudel Movies</section>
      <section class="search mb-3 mt-3">
        <div class="row">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Search Movie"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              id="input-keyword"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="buttonSearch"
            >
              Search
            </button>
          </div>
        </div>
      </section>
      <section class="list-film">
        <section
          class="row"
          id="card-movie"
        ></section>
      </section>
    </section>

    <!-- Modal Start -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="modalMovies"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1
              class="modal-title fs-5"
              id="staticBackdropLabel"
            >
              INFORMATION MOVIE
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div
            class="modal-body"
            id="contentPopup"
          ></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
            >
              Understood
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal End -->
    <!-- CDN JQUERY -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- CDN Boostrap -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- My JS -->
    <script src="../JS/script.js"></script>
  </body>
</html>
