<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <!-- CDN Boostrap -->
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <section class="container mt-5 mb-5">
      <section class="text-title text-black fs-3 fw-bold">Gudel Movies</section>
      <section class="search mt-3 mb-3"><input type="text" /></section>
      <section class="list-film">
        <section class="row">
          <section class="col">
            <section
              class="card"
              style="width: 18rem"
            >
              <img
                src="..."
                class="card-img-top"
                alt="..."
              />
              <section class="card-body">
                <h5 class="card-title">Avengers</h5>
                <h6 class="text-muted">20020</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a
                  href="#"
                  class="btn btn-primary"
                  >Show Details</a
                >
              </section>
            </section>
          </section>
        </section>
      </section>
    </section>
    <!-- CDN JQUERY -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- CDN Boostrap -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- My JS -->
    <script src="../JS/script.js"></script>
  </body>
</html>
